$mainColor: #59c6bc;
$subColor: #fff568;
$transition: all 0.3s linear;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-co {
    text-align: center;
    line-height: 1.8;

    h3 {
        color: #505050;
        font-size: 35px;
    }

    h6 {
        color: $mainColor;
        font-size: 20px;
    }
}

//calling fonts
@font-face {
    font-family: 1-light;
    src: url(../fonts/JF\ Flat\ light.ttf);
}

@font-face {
    font-family: 1-reg;
    src: url(../fonts/JF-Flat-regular.ttf);
}

@font-face {
    font-family: 1-bold;
    src: url(../fonts/JF\ Flat\ medium.ttf);

}

// global class
.container {
    width: 80%;
    margin: auto;
}

// Start main header
.main-header {
    background-color: $mainColor ;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 95px;

        ul {
            display: flex;
            justify-content: space-between;
            gap: 38px;
            align-items: center;
            list-style-type: none;

            li {
                display: inline-block;

                img {
                    width: 260px;
                    height: 50px;
                }

                a {
                    text-decoration: none;
                    font-family: 1-bold;
                    font-size: 20px;
                    color: #fff;
                }

                &.main-list {
                    background-color: #fff568;
                    border-radius: 50px;
                    padding: 8px 25px;

                    a {
                        color: #000;
                    }
                }
            }
        }

        @media (min-width:320px) and (max-width:991px) {
            ul {
                display: none;
            }
        }
    }
}

// End main header
// Start Welcome Section
.welcome {
    // display: block;
    height: 630px;
    background-size: cover !important;
    background-position: center center !important;
    background-attachment: fixed !important;

    .text {
        padding-top: 100px;
        color: #FFF;

        h1 {
            font-size: 50px;
            margin-bottom: 30px;
        }

        p {
            width: 400px;
            font-size: 20px;
            margin-bottom: 60px;

        }

        a {
            display: inline-block;
            text-decoration: none;
            color: #000;
            background-color: $subColor;
            padding: 10px 30px;
            border-radius: 50px;
            font-size: 25px;
            font-family: 1-bold;
        }
    }

    @media (min-width:320px) and (max-width:991px) {
        .text {
            text-align: center;

            p {
                width: auto;
            }
        }

    }

}

// End Welcome Section
// Start Services
.srv {
    padding: 85px 0;

    .all {
        display: flex;

        .box {
            color: #fff;
            padding: 50px;
            width: 25%;
            transition: $transition;

            &:hover {
                box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.5);
                transform: scale(1.01) translateY(-5px);
            }

            img {
                margin-bottom: 30px;
            }

            h1 {
                margin-bottom: 30px;
                font-size: 25px;
            }

            p {
                margin-bottom: 30px;
                font-size: 18px;
            }

            &.box1 {
                background-color: #2d98a1;
            }

            &.box2 {
                background-color: #4fc5b3;
            }

            &.box3 {
                background-color: #eb774c;
            }

            &.box4 {
                background-color: #edbf47;
            }
        }
    }

    @media (min-width:320px) and (max-width:991px) {
        .all {
            flex-direction: column;

            .box {
                width: 100%;
                text-align: center;
            }
        }
    }
}

// End Services
// Start news
.news {
    background-color: #fafafa;
    margin-top: 60px;
    margin-bottom: 60px;

    .text-co {
        margin-bottom: 30px;
    }

    .all {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;


        .childe {
            transition: $transition;

            &:hover {
                box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
                transform: rotate(1.02) translateY(-5px);
            }

            position: relative;
            width: 32%;

            .nn {
                display: inline-block;
                text-decoration: none;
                background-color: $subColor;
                padding: 10px 20px;
                position: absolute;
                left: 5px;
                top: 5px;
            }

            img {
                display: inline-block;
                margin-bottom: 30px;
                object-fit: cover;
                width: 100%;
            }

            .content {
                padding: 30px;

                .ic {
                    display: inline-block;
                    margin-bottom: 30px;
                }

                .ff {
                    color: $mainColor !important;
                }

                h2 {
                    color: #505050;
                    font-size: 30px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 15px;
                    margin-bottom: 30px;
                }

                a {
                    display: inline-block;
                    text-decoration: none;
                    background-color: $subColor;
                    font-size: 20px;
                    color: #000;
                    border-radius: 50px;
                    padding: 7px 20px;
                }
            }
        }

    }

    @media (min-width:320px) and (max-width:991px) {
        .all {
            flex-direction: column;

            .childe {
                width: 100%;
            }

            .content {
                h2 {
                    font-size: 17px;
                }

                p {
                    font-size: 14px;
                }
            }
        }

    }

    @media (min-width:992px) and (max-width:1199px) {
        .all {
            .childe {
                width: 48%;
            }
        }
    }

    @media (min-width:1200px) and (max-width:1250px) {
        .all {
            justify-content: baseline;

            .childe {
                width: 48%;
            }
        }
    }
}

// End news
// Start Goals

.goal {
    height: 383px;
    background-size: cover !important;
    // margin-bottom: 50px;
    position: relative;
    margin-bottom: 60px;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $mainColor, $alpha: 0.7);
        padding: 25px 0;

        .text-co {

            h3,
            h6 {
                color: #fff;
            }
        }

        .all {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .box {
                img {
                    display: inline-block;
                    width: 62px;
                    height: 62px;
                }

                padding: 90px 0;
                width: 25%;
                text-align: center;
                display: flex;
                gap: 20px;

                .box1 {
                    h3 {
                        color: white;
                    }

                    h5 {
                        color: #505050;
                    }
                }
            }
        }

    }

}

@media (min-width:320px) and (max-width:676px) {
    .goal {
        height: 1200px;

        .all {
            flex-direction: column;
            gap: 50px;

            .box {
                margin: auto;
                width: 100%;
                justify-content: center;

            }
        }
    }
}

// End Goals
// Start Says 
.says {
    .text {
        text-align: center;

        h2 {
            color: #505050;
            margin-bottom: 10px;
        }

        p {
            color: $mainColor;
        }
    }

    .all {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: 50px;
        margin-bottom: 20px;

        .box {
            img {
                display: inline-block;
                width: 72px;
                height: 72px;
                object-fit: cover;

            }

            width: 48%;
            display: flex;
            gap: 30px;

            .content {
                background-color: #f9f9f9;
                padding: 20px;
                border-radius: 6px;
                position: relative;

                &::before {
                    content: " ";
                    display: inline-block;
                    border: solid 10px;
                    border-color: transparent transparent transparent #f9f9f9;
                    position: absolute;
                    top: 25px;
                    right: -20px;
                    // font-size: 10px;

                }

                h3 {
                    margin-bottom: 20px;
                }

                p {
                    margin-bottom: 20px;
                }

                .date {
                    display: flex;
                    gap: 20px;
                    margin-bottom: 10px;

                    .ff,
                    .fa-location-dot,
                    .fa-message-dots {
                        color: $mainColor !important;
                    }
                }
            }
        }

    }

    @media (min-width:678) and (max-width:1250) {
        .all {
            flex-direction: row;
            flex-wrap: wrap;

            .box {
                width: 35%;
            }
        }
    }
}

@media (min-width:320px) and (max-width:676px) {
    .says {
        text-align: center;
    }
}

// End Says 
// Start contact 
.contact {
    background-color: #eef6f6;
    margin-top: 50px;

    .all {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        // margin-bottom: 50px;
        padding: 50px 0;

        img {
            height: 334px;
            width: 50%;
            transition: $transition;

            &:hover {
                box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
                transform: rotate(1.02) translateY(-5px);
            }
        }

        .text1 {
            background-color: #FFF;
            color: #505050;
            width: 25%;
            padding: 10px 30px 2px;
            height: auto;
            font-size: 20px;

            &:hover {
                box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
                transform: rotate(1.02) translateY(-5px);
            }

            h2 {
                margin-top: 20px;
                margin-bottom: 30px;
                text-align: center;
            }

            .i {
                color: $mainColor;
                // margin-right: -10px;
            }

            ul {
                list-style-type: none;

                li {
                    // display: flex;
                    // margin-right: 20px;
                    // gap: 20px;
                    margin-bottom: 25px;

                    .ss {
                        margin-right: 18px;
                    }

                    span {
                        color: #000;
                        margin-right: 10px;
                    }

                }
            }
        }

        .text2 {
            background-color: #fff;
            width: 25%;
            color: #505050;
            padding: 10px;

            &:hover {
                box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
                transform: rotate(1.02) translateY(-5px);
            }

            h2 {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 30px;
            }

            p {
                margin-bottom: 20px;
            }

            .date {
                text-align: center;
                margin-bottom: 20px;

                .days1,
                .days2 {
                    background-color: $subColor;
                    padding: 10px 0;
                    font-size: 20px;
                    border-radius: 10px;
                    margin: 15px 25px;
                    // margin-bottom: 15px;
                }

                .c1,
                .c2 {
                    font-size: 18px;

                    span {
                        color: $mainColor;
                    }
                }
            }
        }

    }

    @media (min-width:32px) and (max-width:991px) {
        .all {
            flex-direction: column;
            flex-wrap: wrap;

            img {
                width: 100%;
            }

            .text1 {
                width: 100%;
            }

            .text2 {
                width: 100%;
            }
        }
    }

}

// End contact 

// Start map
.map {

    background-size: cover !important;
    height: 360px;
    position: relative;
    margin-bottom: 60px;
    background-position: center !important;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000, $alpha: 0.3);
        padding: 25px 0;

        .container{
            display: flex;
            justify-content:center;
            align-items: center;
        .form {
            background-color: $mainColor;
            width: 500px;
            height: 85px;
            display: flex;
            justify-content:center;
            align-items: center;
            margin-top: 70px;
            border: none;
            border-radius: 10px;
            form {
                display: flex;
                 gap: 20px;
                input {
                    height: 50px;
                    width: 360px;
                    border-radius: 6px;
                    border: none;
                    text-align: center;
                    
                }

                button {
                    background-color: #777;
                    padding: 10px 15px;
                    border-radius: 5px;
                    border: none;
                    
                }
            }
        }
        @media (min-width:320px) and (max-width:600px) {
            .form{
                width: 200px;
                height: 100px;
               form{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                input{
                    width: 150px;
                    height: 40px;
                    margin-top: 30px;
                }
                button{
                    width: 30px;
                    height: 20px;
                   margin-bottom: 30px;
                   position: relative;
                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 80%;
                        // height: 90%;
                        margin: auto;
                    }
                }
               }
            }
        }
    }
    }
}

// End map
// Start footer
footer{
    text-align: center;
    color: #656565;
    margin-bottom: 20px;
    h2{
       font-size: 30px;
       margin-bottom: 20px;
    }
    p{
        width: 750px;
        margin: auto;
        margin-bottom: 20px;
    }
    .all{
        display: flex;
        justify-content: center;
        gap: 10px;
        .box{
            .so{
                display: inline-block;
            width: 20px;
            height: 20px; 
            border-radius:50%;
            background-color: rgba($color: #777, $alpha: 0.2);
            padding: 5px;
            
            }
            .so1:hover{
                color: #1877fa;
            }
            .so2:hover{
                color: #1da1f2;
            }
            .so3:hover{
                color: #c32aa3;
            }
            .so4:hover{
                color: #ea4335;
            }
        }
    }
    @media (min-width:320px) and (max-width:800px){
        p{
            width: 300px;
        }
    }
}
// End footer